*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: white; 
    color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header img {
    left: 60%;
    top: 4700px;
}

header li {
    display: inline-block;
    margin: 20px;
}

header ul a li {
    color: black;
}

.banner {
    background-color: #343A40;
    padding: 20px;
    height: 90vh;
}

h1 {
    font-size: 40px;
    color: white;
    margin-left: 17%;
}

.campos {
    width: 70vh;
    margin-top: 0%;
    margin-left: 18%;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo input {
    width: 40vh;
    height: 5vh;
    border-radius: 7px;
    padding: 0 0 0 5px;
}

.select {
    width: 70vh;
    margin-top: 0%;
    margin-left: 0%;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo select {
    width: 19.5vh;
    height: 5vh;
    border-radius: 7px;
    padding: 0 0 0 5px;
}

.campo2 {
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
    margin-top: -8.7vh;
}

.campo2 select {
    width: 19.5vh;
    height: 5vh;
    border-radius: 7px;
    padding: 0 0 0 5px;
}

.campo3 {
    display: flex;
    flex-direction: column;
}

.campo3 select {
    width: 40vh;
    height: 5vh;
    border-radius: 7px;
    padding: 0 0 0 5px;
}
button {
    width: 15vh;
    height: 5vh;
    background-color: white;
    color: black;
    margin-left: 24%;
    border-radius: 10px;
}

label {
    color: white;
    margin-top: 8px;
}

.container img {
    margin-top: -25%;
    width: 70vh;
    height: 70vh;
    margin-left: 55%;
}