*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: white; 
    color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}

header img {
    left: 60%;
    top: 4700px;
}

header li {
    display: inline-block;
    margin: 20px;
}

header ul a li {
    color: black;
}

header ul a li :hover {
    border-bottom: solid 2px black;
    transition: 0.3s;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    background-color: #343A40;
    width: 100%;
    height: 100vh;
}

.banner h1 {
    color: white;
}

.banner p {
    color: white;
}

.divisao {
    width: 100%;
    height: 5px;
    background-color: white;
    content: '';
    margin-top: 15px;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #343A40;
}

.titulo1 {
    margin-top: 15px;
    color: white;
}

.caixa1 {
    display: flex;
    flex-direction: row;
}

.caixa {
    margin: 15px 10px 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    background-color: #CED4DA;
}

.shoot {
    margin: 50px 10px 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    background-color: #CED4DA;
}

.caixa img {
    margin-top: 40px;
    width: 350px;
    border-radius: 10px;
}

.caixa h4 {
    margin-top: 15px;
    font-size: 25px;
}

.caixa p {
    margin-top: 10px;
    font-size: 20px;
}

.shoot img {
    margin-top: 40px;
    width: 350px;
    border-radius: 10px;
}

.shoot h4 {
    margin-top: 15px;
    font-size: 25px;
}

.shoot p {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.caixa2 {
    display: flex;
    flex-direction: row;
}

.arma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.operador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}