*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    display: flex;
    background-color: white; 
    color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

header img {
    left: 60%;
    top: 4700px;
}

header li {
    display: inline-block;
    margin: 20px;
}

header ul a li {
    color: black;
}

.banner {
    background-color: #343A40;
    width: 100%;
    height: 80vh;
}

.titulo {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.perguntas {
    margin-top: 5%;
    margin-left: 37%;
    font-size: 20px;
    color: white;
}

.campo input {
    width: 60vh;
    height: 5vh;
    border-radius: 7px;
    padding: 0 0 0 5px;
    margin-left: -5%;
}

.campo label {
    margin-left: -5%;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.img {
    margin-top: -43.5%;
    margin-left: 73%;
}

.img2 {
    margin-top: -37%;
    margin-left: 5%;
}