*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    display: flex;
    background-color: white; 
    color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}

header img {
    left: 60%;
    top: 4700px;
}

header li {
    display: inline-block;
    margin: 20px;
}

header ul a li {
    color: black;
}

.footer {
    width: 100%;
    margin-top: 5%;
    background-color: white;
}

.contato {
    justify-content: flex-end;
    width: 100px;
    height: 10vh;
    position: absolute;
    left: 100px;
}

.divcontato {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 80%;
    font-size: x-large;
    margin-top: 2%;
}

.social3 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 80%;
    margin-top: 5%;
}

.social2 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 70%;
    margin-top: 5%;
}

.social1 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 60%;
    margin-top: 5%;
}

.final p {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 38%;
    position: absolute;
    margin-top: 10%;
}